@keyframes winnerMove {

  0%{
    
  }
  25%{
    transform: translateY(-100px);
   }
  50%{
   transform: rotateX(25deg);
  }

  100%{
    transform: translateY(0px);
  }

}

@keyframes winnerMove2 {

  0%{
  
  }
  25%{
    transform: translateX(-90px);
   }
   
  50%{
  transform: rotate(20deg);
  }
 75%{
  transform: translateX(90px);
 }
  90%{

    transform: rotate(-10deg);
  }

}


@keyframes emoticon1{
from{

 opacity: .6;
 transform: translate(20px, -100px);
}
to{
}
}



/*Animation when one player win !*/
.winner{
  animation: winnerMove ease-in-out 1s  infinite  ;
}

.winner2{
  animation: winnerMove2 ease-in 1s  infinite  ;
}


/*Animation for the icon */
@keyframes emoticon2{
  from{
  
   opacity: .6;
   transform: translate(-100px);
  }
  to{
  }
}

.star{
  transform: rotate(80deg);
  right: -20px;
}
.emoticon1{
  animation: emoticon1 ease-in-out .5s  ;
}

.emoticon2{
  animation: emoticon2 ease-in-out .5s  ;
}


/*modal box*/

#modal{
  height: 100%;
  z-index: 1000;
}

#modalbg{
  background-color: rgba(0, 0, 0, .4);
  height: 100%;
}

#modalcontent{
height: 60vh;
}

#modalcard{
  height: 100%;
}

.card{
  width: 17%;
}

@media screen and (max-width:428px){
  
}